/* import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

/* start the styles here */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    background-color: #E5E5E5;
}
h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 78px;
}
h2{
    font-size: 48px;
    font-weight: 900;
    margin-bottom: -50px;
}
h3{
    font-size: 28px;
    margin-bottom: -20px;
}
p{
    margin-top: 50px;
    color: dimgray;
}
.tomato-color{
    color: orange;
}
.top-banner{
    display: flex;
    align-items: flex-start;
}
.banner-half{
    width: 50%;
    margin: 50px 100px;
    padding: 0 100px;
}
.banner-half img{
    width: 100%;
}
.click-button{
    margin-top: 50px;
}
.click-button a{
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    color: white;
    border-radius: 20px;
    padding: 20px 45px;
    border: 1 px solid;
}
/* start about me section */
.about-me{
    background-image: url(../images/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    display: flex;
}
.about-half{
    width: 50%;
    margin-top: 100px;
    padding: 0 150px;
}
.about-half img{
    width: 80%;
    height: 536px;
    width: 338px;
    margin-left: 200px;
}
/* my recipe section */
.recipe-details{
    text-align: center;
    margin-top: 75px;
}
.recipe-menu{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.recipe-card{
    width: 610px;
    height: 562px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
    padding: 30px;
}
.recipe-card img{
    width: 100%;
    height: 308px;
    margin-bottom: 50px;
}
/* customer rating section */
.cutomer-rating{
    margin: 150px 300px 100px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 1239;
    height: 226px;
    padding: 0 100px;
    border-radius: 25px;
    box-shadow: 10px 10px 40px gray;
}
/* footer section */
footer{
    text-align: center;
    width: 100%;
    height: 256px;
    background-color: #000;
    color: white;
    padding-top: 37px;
}
.color-text{
    color:#5B5B5B;
    ;
}
.copy-right{
    margin-top: 75px;
}